body{
    margin: 0px;
    padding: 0px;
}
.nav ul{
    margin: 0px;
    padding: 20px;
    list-style-type: none;
}
.logo ul li{
    color: white;
    
    font-size: 1.8em;
    font-style: italic;
}
.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
}
.nav{
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-rows:70px;
    color: whitesmoke;
    font-family:tw cen Mt;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7em;
    
    
}
.menu{
    display: grid;
    text-align: right;
    grid-template-columns:repeat(3,1fr);
}

.nav-wrapper{
    background-image: url(../img/bg1\ \(1\).jpg);
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    color: white;
    padding: 10%;
    font-family:fantasy ;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7em;
    
}
.about-heading{
    color: white;
 font-family:tw cen Mt;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    margin: 0px;
}
.abt-contant{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-template-rows: 300px;
    padding: 20px;
}
.contact{
    padding:15px;
}
.contact-heading{
    color: white;
    font-family:tw cen Mt;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    margin: 0px;
}
.about-heading h1 {
    margin: 0px;
    padding: 10px;
}
.pic{
    display: grid;
}

.pic img{
    justify-self: center;
    padding:5px;
    width:90%;
    height: 200px;
    box-shadow:1px 2px 4px rgba(0, 0, 0, .5);
}

.about{
    text-align: center;
    font-family:tw cen Mt;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
}
.projects{
    display:grid;
    grid-template-columns: 20% 20% 20%;
   place-content: center;

}

.pic proname{
    padding:5px;
    width:90%;
    height: 200px;
    box-shadow:1px 2px 4px rgba(0, 0, 0, .5);
}


/*media query*/

@media only screen and (max-width: 500px) { 
    
.nav{
    display: grid;
    grid-template-columns:20% 60%;
    grid-template-rows:50px;
    color: whitesmoke;
    font-family:tw cen Mt;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    
    
}
.menu{
    display: grid;
    text-align: right;
    grid-template-columns:repeat(3,1fr);
}

.logo ul li{
    color: white;
    
    font-size: 1em;
    font-style: italic;
}}
.contact_pic{
   
    box-shadow:1px 2px 4px rgba(0, 0, 0, .5); 
}
.footer{
    display:grid;
    background-color: darkgray;
}


.display-none {
    display: none;
  }
  .fill {
    display: block;
    width: 100%;
  }
  textarea {
    resize: vertical;
  }
  